
/*验证标签式提示信息样式*/

.tooltip {
    position: absolute;
    z-index: 9;
    height: auto;
    max-width: 200px;
}

.tooltip-text {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #117da3;
    zoom: 1;
    color: #FFF;
}

.tooltip-placement  {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
}
.placement-right {
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -10px;
    border-right-color: inherit;
}
.placement-left {
    right: 0;
    top: 50%;
    margin-top: -5px;
    margin-right: -10px;
    border-left-color: inherit;
}
.placement-top {
    left: 50%;
    bottom: 0;
    margin-bottom: -10px;
    margin-left: -5px;
    border-top-color: inherit;
}
.placement-bottom {
    left: 50%;
    top: 0;
    margin-top: -10px;
    margin-left: -5px;
    border-bottom-color: inherit;
}

/* theme */
.tooltip-text {
    background-color: #000;
    color: #FFF;
}
.tooltip {
    color: #000;
}
/* theme2 */
.tooltip-text {
    background-color: lightblue;
    color: blue;
}
.tooltip {
    color: lightblue;
}


/* ================================= */

.left20 {
    right: auto;
    left: 20%;
}
.right20 {
    left: auto;
    right: 20%;
}
.top20 {
    bottom: auto;
    top: 30%;
}
.bottom20 {
    top: auto;
    bottom: 20%;
}
